@font-face {
    font-family: 'Clarendon LT STD';
    src: url('/fonts/ClarendonLTStd-Light.woff2') format('woff2'),
         url('/fonts/ClarendonLTStd-Light.woff') format('woff'),
         url('/fonts/ClarendonLTStd-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}