---
import Layout from '../layouts/Layout.astro';
import { HeroSection } from '../components/ui/hero-section';
import DotBackgroundDemo from '../components/ui/dot-background-demo';
---

<Layout title="carlosgarcia.works">
	<main class="min-h-screen w-full bg-white dark:bg-zinc-950 text-gray-900 dark:text-gray-200">
		<DotBackgroundDemo client:load />
		<HeroSection client:load />
	</main>
</Layout>