---
import Layout from '../layouts/Layout.astro';
import { HeroSection } from '../components/ui/hero-section';
import DotBackgroundDemo from '../components/ui/dot-background-demo';
---

<Layout title="carlosgarcia.works">
	<main class="min-h-screen w-full bg-zinc-950 text-gray-200">
		<DotBackgroundDemo client:load />
		<div class="relative w-full max-w-[90rem] mx-auto px-8">
			<HeroSection client:load />
		</div>
	</main>
</Layout>