---
import Layout from '../layouts/Layout.astro';
---

<Layout title="log | carlosgarcia.works">
	<main class="min-h-screen w-full bg-zinc-950 text-gray-200">
		<div class="relative w-full max-w-[90rem] mx-auto px-8 py-20">
			<h1 class="text-4xl font-normal text-white">Coming Soon</h1>
		</div>
	</main>
</Layout>
