---
import Header from "../components/Header.astro";
import "../styles/globals.css";
import "../styles/fonts.css";

interface Props {
	title: string;
	description?: string;
	image?: string;
}
const { title, description = "My portfolio website", image = "/astro.svg"} = Astro.props;
---

<!doctype html>
<html lang="en" class="antialiased dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta property="og:image" content={image} />
		<title>{title}</title>
		<script is:inline>
			// On page load or when changing themes, best to add inline in `head` to avoid FOUC
			if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
				document.documentElement.classList.add('dark')
			} else {
				document.documentElement.classList.remove('dark')
			}
		</script>
	</head>
	<body class="min-h-screen bg-background text-foreground font-['Clarendon_LT_STD'] font-light">
		<Header />
		<slot />
	</body>
</html>
